@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-slate-50 text-slate-900 font-sans antialiased;
  }
}

@layer utilities {
  .glass-panel {
    @apply bg-white/70 backdrop-blur-lg border border-white/20 shadow-xl;
  }

  .text-gradient {
    @apply bg-clip-text text-transparent bg-gradient-to-r from-brand-600 to-indigo-600;
  }
}